@font-face {
    font-family: 'iconfont';  /* project id 559970 */
    src: url('//at.alicdn.com/t/font_559970_n0681yk1j935wmi.eot');
    src: url('//at.alicdn.com/t/font_559970_n0681yk1j935wmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_559970_n0681yk1j935wmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_559970_n0681yk1j935wmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_559970_n0681yk1j935wmi.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-index:before{ content: '\e63e'}
.icon-grow:before{ content:'\e600'}
.icon-mine:before{ content:'\e614'}
.icon-chat:before{ content:'\e6b6'}